<br>
<div>
        <div>
                <tr>
                        <h1>You bored?</h1>
                </tr>
                <tr>
                        <h2>Let's find you an activity!</h2>
                </tr>
                <br>

        </div>
</div>
<br>
<br>
<div *ngFor="let i of activities">
        {{ i }}
</div>

<div>
        <thead>
                <tr>
                        <th>All types of diferent activities:</th>
                </tr>

        </thead>
</div>
<div class="input-group">
        <select class="custom-select" [(ngModel)]="type">
                <option *ngFor="let tp of types" [value]='tp'>
                        {{tp}}
                </option>
        </select>


        <div class="input-group-append">
                <button class="btn btn-outline-primary" (click)="getActivityByType()" [disabled]="type == null"> Get an activity by type! </button>
        </div>
</div>
<tr>
        <th>{{activity}}</th>
</tr>